<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <h1><%= t "title", locale_get%></h1>
    <div data-id="result">
      <% if @game.over? %>
        <% if @game.winner? %>
          <h1><%= @game.winner %><%= t "won", locale_get%></h1>
        <% else %>
          <h1><%= t "tie", locale_get%></h1>
        <% end %>
        <button data-id="gobacktowelcome" type="button">Back</button>
      <% end %>
    </div>
    <%= erb(:board) %>
  </body>
</html>
